* {
  font-family: Outfit;
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*Header code*/
.header {
  background-color: #334553;
  color: #fefefa;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 55px;
  margin-bottom: 30px;
}
.rightSideOfHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 600;
}
.headerButton {
  color: #fefefa;
  font-size: 16px;

  border: none;
  background-color: transparent; /*change later*/
  height: 55px;
  padding: 0px 20px;
}
.headerButtonContainer {
  display: flex;
  flex-direction: row;

  transition: color 0.2s, background-color 0.2s, cursor 0.2s;
}
.headerButton:hover {
  color: white;
  cursor: pointer;
  background-color: #5c8aaa;
}

/*Welcome text code*/
.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 80px;
  font-weight: 600;
  line-height: 120px;
}
.typedText {
  position: relative;
}
.typedText span::before {
  content: "Creating";
  color: #ff7f50;

  animation: words 20s infinite;
}
.typedText span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: transparent;
  border-left: 2px solid #ff7f50;
  right: -8px;
  animation: cursor 0.8s infinite;
}

/*Animations*/
@keyframes words {
  0%,
  20% {
    content: "Creating";
  }
  21%,
  40% {
    content: "Developing";
  }
  41%,
  60% {
    content: "Designing";
  }
  61%,
  80% {
    content: "Gaming";
  }
  81%,
  100% {
    content: "Making";
  }
}

@keyframes cursor {
  top {
    border-left: 2px solid #ececec;
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: calc(100% + 8px);
  }
}
