* {
  font-family: Outfit;
  padding: 0;
  margin: 0;
}
/*
body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #334553;
  color: #fefefa;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 55px;
  margin-bottom: 30px;
}
.rightSideOfHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 600;
}
.headerButton {
  color: #fefefa;
  font-size: 16px;

  border: none;
  background-color: transparent;
  height: 55px;
  padding: 0px 20px;
}
.headerButtonContainer {
  display: flex;
  flex-direction: row;

  transition: color 0.2s, background-color 0.2s, cursor 0.2s;
}
.headerButton:hover {
  color: white;
  cursor: pointer;
  background-color: #5c8aaa;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 80px;
  font-weight: 600;
  line-height: 120px;
}
.typedText {
  position: relative;
}
.typedText span::before {
  content: "Creating";
  color: #ff7f50;

  animation: words 20s infinite;
}
.typedText span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: transparent;
  border-left: 2px solid #ff7f50;
  right: -8px;
  animation: cursor 0.8s infinite;
}

@keyframes words {
  0%,
  20% {
    content: "Creating";
  }
  21%,
  40% {
    content: "Developing";
  }
  41%,
  60% {
    content: "Designing";
  }
  61%,
  80% {
    content: "Gaming";
  }
  81%,
  100% {
    content: "Making";
  }
}

@keyframes cursor {
  top {
    border-left: 2px solid #ececec;
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: calc(100% + 8px);
  }
}
*/

body {
  background-color: #1c223a;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 100px 0px;
}

.heading_one {
  color: #fefefa;
  font-size: clamp(1.8rem, 10vw, 5rem); /*min, default, max*/
}

.typing p {
  color: #ff8930;
  font-size: clamp(0.9rem, 5vw, 2.5rem);
  font-weight: 500;
  position: relative;
  border-right: 5px solid #ff8930;
  white-space: nowrap;
  overflow: hidden;

  animation: 
    cursor 0.8s infinite, 
    typing 2s steps(18);
}
.typing p::before {
  content: "";
  animation: keystrokes 15s infinite;
}

.header {
  color: #fefefa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 20px;
  height: 55px;
  margin: 10px 0;
}
.rightSideOfHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerButton {
  color: #fefefa;
  font-size: clamp(0.5rem, 3vw, 1.4rem);

  border: none;
  background-color: transparent;
  height: 55px;
  padding: 0px 15px;
}
.headerButtonContainer {
  display: flex;
  flex-direction: row;

  transition: color 0.2s, background-color 0.2s, cursor 0.2s;
}
.headerButton:hover {
  color: white;
  cursor: pointer;
  background-color: #5c8aaa;
}

/*animations*/
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes keystrokes {
  0%,
  20% {
    content: "programmer";
  }
  21%,
  40% {
    content: "gamer";
  }
  41%,
  60% {
    content: "artist";
  }
  61%,
  80% {
    content: "lover of God";
  }
  81%,
  100% {
    content: "creative consumer";
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
